header, footer{
    background-color: white;
    padding:20px 50px 20px 50px;
}

.iconlien:hover{
    opacity: 0.5;
}

nav, footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

section{
    padding:100px;
}
 
a {
    color:black;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Manrope", sans-serif;
   }
nav,a{
    margin-left: 30px;
}
a:hover{
    text-decoration: underline;
}

.class2{
    color: #A5B4FC;
}
div{
    color: #242424;
}
.accuiel-introduction {
    display:flex;
    width:50%;
    justify-content: center;
    align-items: center;
    margin:auto;
    gap:175px;
}
.accuiel-introduction div{
    padding-right: 80px;
}

.accuiel-photos {
    background-size: cover;
    background: white;
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;  
}
.portfolio-section-photos {
    background: white;
}
.grid-paysages{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}
.grid-portraits{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}
.grid-paysages img, 
.grid-portraits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .lien-conteneur-photo{
    position: relative;
} */
.grid-paysages a, 
.grid-portraits a {
    position: relative;
}
.photo-hover{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display:none; 
}

.grid-paysages a:hover .photo-hover, .grid-portraits a:hover .photo-hover {
    display: flex;
}

h2 {
    font-family: "Manrope", sans-serif;
    color: #242424;
    margin-bottom: 30px;
}
pr{
    font-size: 1.1em;
    color: #F9F8FF;
    font-family: "Manrope", sans-serif;
}
.cta{
    display: inline-block;
    font-family: "Manrope", sans-serif;
    color: white;
    background: linear-gradient(90deg, #8E86B5, #ACAEED);
    border-radius: 50px;
    padding: 20px 30px;
    margin: auto ;
}
.cta, h2, h1, ul{
    margin-top: 30px;
}
.cta a:hover{
    background: linear-gradient(90deg, #696484, #8788BA);
    text-decoration: none;
}
.a-propo-main{
    width:50%;
    margin:auto;
}
.class4{
    display: inline-block;
    border-right: 1px #8e86b5 solid;
    border-bottom: 1px #8e86b5 solid;
    padding: 50px;
    margin-bottom: 80px;
}
.class4 h2{
    color: white;
    margin-right:150px;
    margin-top: 30px;
}
.class4 pr{
    margin-right:500px;
    margin-top: 30px;
}
.class4 ul{
    margin-top: 30px;
}

h1 {
    font-size: 3.5em;
    color: #F9F8FF;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
li,ul,ol{
    font-size: 1.1em;
    color: #F9F8FF;
    font-family: "Manrope", sans-serif;
}
body {
    background-color:#1F2039;
}

